<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h2>Reactive Form</h2>
  <div formGroupName="userData">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error
        *ngIf="
          signUpForm.get('userData.username')?.invalid &&
          signUpForm.get('userData.username')?.touched
        "
      >
        <span
          *ngIf="signUpForm.get('userData.username')?.errors?.['nameIsForbidden']; else elseBlock"
          >This username is forbidden!</span
        >
        <ng-template #elseBlock>
          <span>Invalid username!</span>
        </ng-template>
      </mat-error>
    </mat-form-field>
    <br />
    <button type="button" mat-raised-button color="primary">
      Suggest a Username
    </button>
    <br /><br />
    <mat-form-field>
      <mat-label>Mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        *ngIf="
          !signUpForm.get('userData.email')?.valid &&
          signUpForm.get('userData.email')?.touched
        "
        >Please enter a valid email address!</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <h4>Your Hobbies</h4>
    <mat-form-field formArrayName="hobbies">
      <mat-label>Enter your hobby...</mat-label>
      <mat-chip-grid #chipGrid>
        <mat-chip-row
          *ngFor="let hobbyControl of getControls()"
          (removed)="onRemoveHobby(hobbyControl.value)"
        >
          {{ hobbyControl.value }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="onAddHobby($event)"
        placeholder="New hobby..."
      />
    </mat-form-field>
  </div>

  <mat-radio-group [ngModel]="genders[0]" formControlName="gender">
    <mat-radio-button *ngFor="let gender of genders" [value]="gender"
      ><span>
        {{ gender }}
      </span></mat-radio-button
    >
  </mat-radio-group>
  <span *ngIf="!signUpForm.valid && signUpForm.touched" style="color: red"
    >Please enter valid data!</span
  >
  <button class="submit-button" mat-raised-button color="accent">Submit</button>
</form>
