<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h2>Reactive Form</h2>
  <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error
        *ngIf="
          !signUpForm.get('username')?.valid &&
          signUpForm.get('username')?.touched
        "
        >Please enter a valid username!</mat-error
      >
    </mat-form-field>
    <br />
    <button type="button" mat-raised-button color="primary">
      Suggest a Username
    </button>
    <br /><br />
    <mat-form-field>
      <mat-label>Mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        *ngIf="
          !signUpForm.get('email')?.valid && signUpForm.get('email')?.touched
        "
        >Please enter a valid email address!</mat-error
      >
    </mat-form-field>
  </div>
  <!-- <mat-form-field>
    <mat-label>Secret Questions</mat-label>
    <mat-select name="secret">
      <mat-option value="pet">What was your first pet's name?</mat-option>
      <mat-option value="color">What is your favorite color</mat-option>
      <mat-option value="numOfMoves"
        >How many times have you moved in your life?</mat-option
      >
    </mat-select>
  </mat-form-field> -->

  <mat-radio-group [ngModel]="genders[0]" formControlName="gender">
    <mat-radio-button *ngFor="let gender of genders" [value]="gender"
      ><span>
        {{ gender }}
      </span></mat-radio-button
    >
  </mat-radio-group>
  <span *ngIf="!signUpForm.valid && signUpForm.touched" style="color: red"
    >Please enter valid data!</span
  >
  <button class="submit-button" mat-raised-button color="accent">Submit</button>
</form>
